 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 694px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 2.25rem;
  margin: 55px auto 0;
}

.u-section-1 .u-text-2 {
  width: 460px;
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 26px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 219px;
}

.u-section-1 .u-container-layout-1 {
  padding: 8px 0 1px;
}

.u-section-1 .u-image-1 {
  height: 209px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 219px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 210px;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 219px;
}

.u-section-1 .u-container-layout-3 {
  padding: 8px 0 1px;
}

.u-section-1 .u-image-3 {
  height: 209px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 219px;
}

.u-section-1 .u-container-layout-4 {
  padding: 8px 0 1px;
}

.u-section-1 .u-image-4 {
  height: 209px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 219px;
}

.u-section-1 .u-container-layout-5 {
  padding: 8px 0 1px;
}

.u-section-1 .u-image-5 {
  height: 209px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 20px;
  margin-bottom: 55px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 209px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 209px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 209px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 209px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 638px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-1 .u-image-1 {
    height: 173px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 181px;
  }

  .u-section-1 .u-image-2 {
    height: 173px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 181px;
  }

  .u-section-1 .u-image-3 {
    height: 173px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 181px;
  }

  .u-section-1 .u-image-4 {
    height: 173px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 181px;
  }

  .u-section-1 .u-image-5 {
    height: 173px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-bottom: 60px;
    position: relative;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 172px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 172px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 172px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 172px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1363px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 221px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 231px;
  }

  .u-section-1 .u-image-2 {
    height: 221px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 231px;
  }

  .u-section-1 .u-image-3 {
    height: 221px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    height: 331px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-5 {
    height: 331px;
    margin-top: -3px;
    margin-bottom: -3px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-bottom: 55px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 263px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 263px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 263px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2954px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-1 .u-image-1 {
    height: 497px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 520px;
  }

  .u-section-1 .u-image-2 {
    height: 497px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 520px;
  }

  .u-section-1 .u-image-3 {
    height: 497px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 198px;
  }

  .u-section-1 .u-image-4 {
    height: 497px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 187px;
  }

  .u-section-1 .u-image-5 {
    height: 497px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 395px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 395px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 394px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 395px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2069px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 313px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 327px;
  }

  .u-section-1 .u-image-2 {
    height: 313px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 327px;
  }

  .u-section-1 .u-image-3 {
    height: 313px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    height: 313px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-5 {
    height: 313px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 249px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 249px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 248px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 249px;
  }
}